---
# yamllint disable rule:line-length
name: scan-scheduled

on:
  schedule:
  - cron: '0 0 */7 * *'
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  scan-scheduled:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Run Trivy
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        hide-progress: true
        format: 'sarif'
        exit-code: '0'
        trivy-config: trivy.yaml
        output: 'trivy-results.sarif'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
      if: always()
      with:
        sarif_file: 'trivy-results.sarif'

    - name: Run Checkov scan
      uses: bridgecrewio/checkov-action@master
      with:
        config_file: .checkov.yaml
        output_format: cli,sarif
        output_file_path: console,checkov-results.sarif

    - name: Upload Checkov scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
      if: always()
      with:
        sarif_file: checkov-results.sarif
