---
# yamllint disable rule:line-length
name: scan-pr

on:
  pull_request:
    paths:
    - '.checkov.yaml'
    - '.github/workflows/**'
    - '.trivyignore.yaml'
    - 'modules/**/*.tf'
    - 'workspaces/**/*.tf'
    - 'trivy.yaml'

permissions:
  contents: read

jobs:
  trivy-scan:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Run Trivy
      uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
      with:
        scan-type: 'fs'
        scan-ref: '.'
        hide-progress: false
        format: 'table'
        exit-code: '1'
        trivy-config: trivy.yaml

  checkov-scan:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Run Checkov
      uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61
      with:
        config_file: .checkov.yaml
        output_format: github_failed_only
