---
# yamllint disable rule:line-length
name: scan-pr

on:
  pull_request:
    paths:
    - '.checkov.yaml'
    - '.github/workflows/**'
    - '.trivyignore.yaml'
    - 'modules/**/*.tf'
    - 'workspaces/**/*.tf'
    - 'trivy.yaml'

permissions:
  contents: read

jobs:
  trivy-scan:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Run Trivy
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        hide-progress: false
        format: 'table'
        exit-code: '1'
        trivy-config: trivy.yaml

  checkov-scan:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Run Checkov
      uses: bridgecrewio/checkov-action@d146511ffb733a9a456c9ffc05cd462122037354
      with:
        config_file: .checkov.yaml
        output_format: github_failed_only
