---
# yamllint disable rule:line-length
name: scan-scheduled

on:
  schedule:
  - cron: '0 0 */7 * *'
  workflow_dispatch:

permissions:
  contents: read
  security-events: write

jobs:
  scan-scheduled:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      with:
        fetch-depth: 1
        persist-credentials: false

    - name: Run Trivy
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        hide-progress: true
        format: 'sarif'
        exit-code: '0'
        trivy-config: trivy.yaml
        output: 'trivy-results.sarif'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      if: always()
      with:
        sarif_file: 'trivy-results.sarif'

    - name: Run Checkov scan
      uses: bridgecrewio/checkov-action@master
      with:
        config_file: .checkov.yaml
        output_format: cli,sarif
        output_file_path: console,checkov-results.sarif

    - name: Upload Checkov scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # v4.31.9
      if: always()
      with:
        sarif_file: checkov-results.sarif
